{% extends "base.html" %}

{% block content %}
    <h1>Welcome to My Blog! Here's some info about this website: </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad iure nemo perferendis tempora voluptate? A ad
        architecto, atque blanditiis debitis deleniti esse, ex in itaque libero magni maxime officiis possimus quis
        quisquam reiciendis repellat reprehenderit repudiandae sint tempore temporibus ullam vel veritatis? Amet aperiam
        consectetur consequuntur fuga illum ipsa magnam, nam nemo praesentium reprehenderit veniam voluptate voluptatem
        voluptates! A accusamus amet architecto asperiores aspernatur cum cumque distinctio enim est eum explicabo
        facere harum id impedit inventore laboriosam laborum maxime minima molestias mollitia nam nisi obcaecati, odio
        odit officiis perspiciatis quia recusandae repellat saepe sapiente tempore totam veritatis voluptatum? Rem,
        totam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores aut delectus dicta ducimus earum
        impedit in iste iure libero molestiae natus, nemo possimus quam quod reiciendis rem sequi sint?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, optio?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis delectus et hic neque nostrum quam quia,
        reiciendis similique sunt tempora.</p>
    <h2>Lorem ipsum.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, modi.</p>
    <ul>
        <li>Lorem ipsum dolor.</li>
        <li>Lorem ipsum dolor.</li>
        <li>Lorem ipsum dolor.</li>
    </ul>
{% endblock %}
